<!DOCTYPE html>
<html lang="pt">
  {% include head.html %}

  <body class="under_bg_color">
    <div class="pusher">
      <div class="">
          {{ content }}
      </div>
      <!-- <div class="">
          {% include footer.html %}
      </div>  -->
    </div>  
    
    <!-- Javascripts -->
    <!-- <script>
      function hideAndShow() {
        var policy = document.getElementById("privacy_policy");
        var terms = document.getElementById("terms_condition");

        if (policy.style.display === "none") {
          policy.style.display = "block";
          terms.style.display = "none";
        } else {
          policy.style.display = "none";
          terms.style.display = "block";
        }
      }
      </script> -->
  </body>

</html>
